@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PapelArt</title>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/login-cadastro.css" />
</head>

<body>
    <!-- Cabeçalho -->
    <header class="header">
        <div class="logo">
            <img src="~/images/logo.jpg" alt="Logo PapelArt" />
        </div>
        <div class="titulo">
            <h1>PapelArt - Material Escolar</h1>
            <h1>SISTEMA DE CONTROLE DE ESTOQUE</h1>
        </div>
    </header>

    <!-- Conteúdo -->
    <div class="container-login">
        <div class="card-login">
            <h2>LOGIN</h2>
            @if (ViewBag.Erro != null)
            {
                <div style="color:red; margin-bottom:10px;">
                    @ViewBag.Erro
                </div>
            }
            
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["Success"]
                </div>
            }

            <form asp-action="Login" method="post">
                <label class="login-form" for="email">E-mail*:</label>
                <input class="login-form" type="email" id="email" name="email" required />

                <label for="senha">Senha*:</label>
                <input type="password" id="senha" name="senha" required />

                <p style="margin-top: 10px; font-size: 14px; font-weight: 500; font-style: italic; color: #F33E33;">
                    *Campos de preenchimento obrigatório</p>

                <button type="submit">ACESSAR</button>
            </form>

            <p style="margin-top: 15px;">Ainda não tem cadastro?</p>
            <a href="/Usuarios/Cadastro" class="btn btn-link" style="color: var(--laranja); font-weight: bold;">Crie ou
                atualize seu cadastro</a>
        </div>
    </div>

    <footer></footer>
</body>

</html>