@model PapelArt.Models.categorias

@{
    ViewData["Title"] = "Criar Categoria";
}

<h1>Cadastrar Categoria</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="nome" class="control-label"></label>
        <input asp-for="nome" class="form-control" />
        <span asp-validation-for="nome" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary mt-3">Voltar</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}