@{
    ViewData["Title"] = "Login";
}

<div class="login-container">
    <h2>Entrar no Sistema</h2>

    @if (ViewBag.Erro != null)
    {
        <div class="alert alert-danger">@ViewBag.Erro</div>
    }

    @if (TempData["Sucesso"] != null)
    {
        <div class="alert alert-success">@TempData["Sucesso"]</div>
    }

    <form method="post" asp-controller="Login" asp-action="Index">
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" name="email" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" name="senha" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-primary">Entrar</button>

        <p class="mt-3 text-center">
            Ainda não tem uma conta?
            <a asp-controller="Usuarios" asp-action="Create" class="btn btn-outline-primary">
            Crie ou atualize seu cadastro
            </a>
        </p>

    </form>
</div>
