@{
    ViewData["Title"] = "Início";
}

<div class="header-bars">
    <div class="bar-top"></div>
    <div class="bar-bottom"></div>
</div>

<div class="home-container">
    <h1 class="home-title">BEM-VINDO</h1>

<a href="@Url.Action("Login", "Usuarios")" class="home-logo-link">
    <img src="~/images/logo.jpg" alt="logo" class="home-logo" />
</a>

    <h1 class="home-subtitle">SISTEMA DE CONTROLE DE ESTOQUE</h1>
</div>

<div class="footer-bar"></div>


