@{
    ViewData["Title"] = "Menu";
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PapelArt</title>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/menu.css" />
    
</head>
<body>

    <!-- Cabeçalho -->
    <header class="header">
        <div class="logo">
            <a asp-controller="Home" asp-action="Menu" title="Voltar ao Menu">
                <img src="~/images/logo.jpg" alt="Logo PapelArt - Voltar ao Menu" />
            </a>
        </div>

        <div class="titulo">
            <h1>PapelArt - Material Escolar</h1>
            <h1>SISTEMA DE CONTROLE DE ESTOQUE</h1>
        </div>

        @if (User.Identity != null && User.Identity.IsAuthenticated)
        {
            <div class="usuario-logado-box">
                <span class="usuario-logado-nome">
                    Usuário: @User.Identity.Name
                </span>

                <form asp-controller="Usuarios" asp-action="Logout" method="post">
                    <button type="submit" class="btn-logout-header">
                        Sair
                    </button>
                </form>
            </div>
        }
    </header>





<div class="menu-wrapper">

    <h1 class="menu-title">ESCOLHA UMA FUNÇÃO</h1>

    <div class="menu-buttons">

        <a href="/Categorias/Create" class="menu-btn">CADASTRAR<br/>CATEGORIA</a>

        <a href="/Produtos/Create" class="menu-btn">CADASTRAR<br/>PRODUTO</a>

        <a href="/Estoque/Consulta" class="menu-btn">CONSULTAR<br/>ESTOQUE</a>

        <a href="/Movimentacoes/Create" class="menu-btn">
            REGISTRAR<br/>ENTRADA/SAÍDA
        </a>

        <a href="/Relatorios/Index" class="menu-btn">
            GERAR<br/>RELATÓRIO
        </a>

    </div>
</div>

<!-- RODAPÉ -->
    <footer class="menu-footer">
         
        <a href="javascript:history.back()" class="footer-btn">&#8678 VOLTAR</a>

        @using (Html.BeginForm("Logout", "Usuarios", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.forms[0].submit();" class="footer-btn"
                onclick="return confirm('Deseja realmente sair?')">
                SAIR &#8680
            </a>
        }

    </footer>

</body>
</html>